
body{
    /* background-image: url(../pic/bg.jpg);
    background-blend-mode:url(pic/bg.jpg); */
    background-color: azure);
    background-size: cover;
    width: 100%;
    height: 100%;  
    font-size: 100%;
}

#div1{
    border: 2px solid red;
    font-size: 100%;
    padding: 1rem;
    margin: 1rem;
    width: 2rem;
    background-color: rgba(52, 165, 42, 0.473);
    position: relative;
    top: .2rem;
}

nav,
nav ul {
    display: flex;
    list-style: none;
    padding: none; 
   
}
nav ul li {
    padding: 0 7rem;
    justify-content: space-around;
    }

 nav ul li a{
     color: rgb(146, 46, 240);
 }   
 nav ul li a:hover{
    color: red;
}  

header nav ul li {
    display: flex; 
    margin-right: 1rem;
    background-color: rgba(233, 248, 149, 0.849);
    vertical-align: center;
    align-self: auto;
}


footer {
    clear: both;
    background-color:palegoldenrod;
}

#rapper {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-self: auto; 
    align-self: normal; 
    border: 3px solid rgba(0, 0, 0, 0.445);
}



/* .main-logo img{
    border-radius: 56%; 
    width: 375px;
}

.pg2-logo img {
    display: block;
    margin: auto;
    padding: align-self auto;
    width: 30%;
}

.pg3-logo img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */

aside{
    background-color: rgba(54, 85, 4, 0.171)
}


article{
    background: lightsteelblue;
    backface-visibility: 30%; 
}
